.container {
  padding: 10px;
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    background-color: #414040;
    border: 1px solid #fff;
    h3 {
      color: #fff;
    }
  }
  .zoomIn {
    transform: scale(1.1); /* Increase the scale to zoom in */
    transition: transform 0.3s ease-in-out;
  }
  h3 {
    border-top: 1px solid;
    width: 100%;
    text-align: center;
  }
}
